# Copy this file to test.env
export KB_DEPLOYMENT_CONFIG=test/deploy.cfg
export JOB_ID=<TOKEN>
export ENDPOINT=https://ci.kbase.us/services
export KB_AUTH_TOKEN=<TOKEN>
export KB_ADMIN_AUTH_TOKEN=<TOKEN>

#MongoDB Default Setup
export MONGO_INITDB_ROOT_USERNAME=travis
export MONGO_INITDB_ROOT_PASSWORD=travis
export MONGO_INITDB_DATABASE=ee2